@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Lato:400,300");
body.ioc {
  font-family: monospace;
  background-color: #000;
  color: #0f0; }
  body.ioc table {
    border-collapse: collapse;
    border: 1px dashed #0f0; }
  body.ioc ul {
    list-style-type: square; }
  body.ioc td, body.ioc th {
    padding: 0.5rem;
    font-family: monospace; }
  body.ioc td:nth-child(2) {
    padding: 0 1rem; }
  body.ioc tr {
    border-bottom: 1px dashed #0f0; }
  body.ioc li {
    font-family: monospace; }
  body.ioc header {
    display: flex;
    border: 1px dashed #0f0;
    justify-content: center;
    align-items: center; }
  body.ioc pre {
    align-self: center; }
  body.ioc #inner {
    display: inline-block; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #ccc; }

.container {
  max-width: 1200px;
  flex-grow: 2; }

nav {
  background-color: #333;
  color: #fff;
  border-bottom: 0.3rem solid #e7325c;
  height: 3rem; }

nav span.brand a {
  color: #fff;
  text-decoration: none; }

nav .container, nav ul, nav li, nav a {
  height: 100%; }

nav .container, nav ul {
  flex-wrap: wrap; }

nav ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none; }

nav ul.left {
  flex-grow: 2; }

nav ul.right {
  flex-shrink: 3;
  justify-content: flex-end; }

nav ul li {
  display: block; }

nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.25s;
  height: 100%; }

nav ul li a:hover {
  background-color: #ce1842; }

nav ul li.active > a {
  background-color: #ce1842; }

.profile-dropdown ul li a {
  padding: 0.2rem 0.5rem; }

.profile-dropdown:not(.active) .menu, .notifications-dropdown:not(.active) .menu {
  display: none; }

nav ul li.with-dropdown {
  position: relative; }
  nav ul li.with-dropdown a {
    width: 100%;
    outline: none; }
  nav ul li.with-dropdown .fa-caret-down {
    line-height: 1.5;
    margin-left: 0.5rem; }
  nav ul li.with-dropdown .menu {
    position: absolute;
    z-index: 20;
    background-color: #333;
    left: -1px;
    right: 0;
    color: black;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }
    nav ul li.with-dropdown .menu ul {
      display: block; }
      nav ul li.with-dropdown .menu ul li {
        display: block;
        font-size: 1rem; }
      nav ul li.with-dropdown .menu ul li a {
        color: #fff;
        width: 100%; }
      nav ul li.with-dropdown .menu ul li a:active, nav ul li.with-dropdown .menu ul li a:hover {
        background-color: black; }

nav ul li.notifications-dropdown {
  min-width: 10em;
  text-align: right; }
  nav ul li.notifications-dropdown a {
    width: auto; }
  nav ul li.notifications-dropdown .menu {
    text-align: left;
    color: #fff;
    border-top: 1px solid #aaa; }

footer {
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 0; }

nav, footer, main {
  display: flex;
  align-content: center;
  justify-content: center; }

footer .container {
  display: flex;
  justify-content: space-between; }

footer .container .copyright {
  flex-grow: 2; }

footer ul.links {
  margin: 0; }

footer ul.links li {
  display: inline-block; }

footer ul.links li + li {
  margin-left: 0.5rem; }

footer ul.links li a {
  color: #fff; }

nav .container {
  flex-direction: row;
  display: flex;
  justify-content: space-between; }

main, div.modal {
  font-family: "Lato", sans-serif; }

main .container {
  padding: 1rem;
  background: #fff; }

.container.profile h1:first-child {
  margin-top: 0;
  margin-bottom: 0; }

main .container-no-pad {
  padding: 0; }

main h2 {
  font-size: 22px;
  margin: 0; }

#footer-push {
  flex-grow: 5;
  position: relative; }

#footer-push .bg {
  position: absolute;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0; }

/* Buttons */
.button {
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  background-color: #e7325c;
  display: inline-block;
  transition: 0.25s background;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: normal;
  border-radius: 5px; }

.button-right {
  float: right; }

.button:hover {
  background-color: #ce1842; }

.button.default {
  background-color: #333; }

.button.default:hover {
  background-color: #1a1a1a; }

input[type=text], input[type=password], input[type=email] {
  border: 1px solid #ccc;
  transition: 0.25s border;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: #fff;
  color: #333; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  border: 1px solid #333; }

.alert {
  border: 1px solid #333;
  border-left: 5px solid #e7325c;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 5px; }
  .alert p {
    margin-top: 0; }
  .alert i {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    opacity: 0.5; }
  .alert ul {
    display: block;
    margin: 0; }

label {
  font-size: 1.2rem;
  color: #444; }

.brand {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0; }

.overview {
  padding: 0 1rem; }
  .overview h1 {
    margin-bottom: 0; }

.hero {
  background: url("assets/sky.jpg");
  min-height: 200px;
  height: 30vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-attachment: fixed; }
  .hero h1 {
    text-shadow: 1px 1px 5px #000;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #fff;
    font-weight: 400; }

@keyframes heroAnim {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 54%; } }
.steps-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .steps-overview div.step {
    width: 25%; }
    .steps-overview div.step h2 {
      text-align: center; }
  .steps-overview .arrow-wrapper {
    flex-shrink: 2;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    align-content: center; }
  .steps-overview img {
    height: 100px;
    padding: 0 1rem; }

.warwick-logo {
  width: 1.5rem; }

span.counter {
  background-color: #e7325c;
  padding: 0 0.4rem;
  border-radius: 0.1rem;
  margin-left: 0.5rem; }

span.counter.anim {
  animation: counterAnim 0.75s;
  animation-fill-mode: forwards; }

.notifications-dropdown a.anim {
  animation: notificationsBorderAnim 0.75s; }

@keyframes counterAnim {
  0% {
    background-color: #333; }
  100% {
    background-color: #e7325c; } }
@keyframes notificationsBorderAnim {
  0% {
    background-color: #e7325c; }
  100% {
    background-color: #333; } }
a:hover span.counter {
  background-color: #333 !important; }

.avatar {
  height: 2rem;
  margin-top: -0.2rem;
  vertical-align: middle;
  margin-right: 0.3rem;
  border-radius: 0.1rem; }

header, nav, main, footer {
  flex-shrink: 0; }

.modal {
  display: none; }

body.modals-enabled .modal {
  background: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 95%);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  padding-top: 20vh;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  z-index: 50; }
body.modals-enabled .modal-inner {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0.2rem;
  min-width: 400px;
  padding: 1rem;
  flex: 0;
  display: inline-block; }
  body.modals-enabled .modal-inner .topbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    body.modals-enabled .modal-inner .topbar h1 {
      margin: 0; }
    body.modals-enabled .modal-inner .topbar a.exit {
      color: #333; }
  body.modals-enabled .modal-inner p {
    margin-top: 0; }

body.modals-enabled .group-add-modal .modal-inner {
  min-width: 600px; }

@media (max-width: 1200px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem; } }
.vertical-form {
  text-align: center; }
  .vertical-form label {
    text-align: left; }
  .vertical-form input {
    margin-bottom: 0.5rem;
    width: 100%; }
  .vertical-form input[type=text], .vertical-form input[type=password], .vertical-form input[type=email] {
    font-size: 1.2rem;
    padding: 0.5rem 0.3rem; }
  .vertical-form input[type=submit] {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 0; }

.groupBox {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 1rem; }

main .vertical-form {
  text-align: left; }

main .vertical-form input[type=submit] {
  display: inline-block;
  width: auto;
  padding: 0.5rem 1rem; }

.vertical-form label {
  display: block; }

.vertical-form .explanation {
  color: #999;
  margin: 0;
  display: block;
  font-style: italic; }

.flash {
  width: 100%;
  padding: 0 0;
  line-height: 0.5;
  text-align: center;
  position: relative;
  color: #fff;
  font-weight: bold; }
  .flash a.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: #fff; }

.flash-warning {
  background-color: #cf8b00; }

.flash-error {
  background-color: #cf2000; }

body.modals-enabled .ajax-error-modal .modal-inner {
  min-width: 30%; }

.profile h2 {
  margin-top: 1rem; }

/*# sourceMappingURL=app.css.map */
