// Begin IoC debug styles..
body.ioc {
  font-family: monospace;
  background-color: #000;
  color: #0f0;
  table {
    border-collapse: collapse;
    border: 1px dashed #0f0;
  }
  ul {
    list-style-type: square;
  }
  td, th {
    padding: 0.5rem;
    font-family: monospace;
  }
  td:nth-child(2) {
    padding: 0 1rem;
  }
  tr {
    border-bottom: 1px dashed #0f0;
  }
  li {
    font-family: monospace;
  }
  header {
    display: flex;
    border: 1px dashed #0f0;
    justify-content: center;
    align-items: center;
  }
  pre {
    align-self: center;
  }
  #inner {
    display: inline-block;
  }
}
// End IoC debug styles

// Start actual styles
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Lato:400,300");

$primaryColor: #333;
$accentColor:  lighten(#89102c, 25%);

$brx: 5px;
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #ccc;
}

.container {
  max-width: 1200px;
  flex-grow: 2;
}

nav {
  background-color: $primaryColor;
  color: #fff;
  border-bottom: 0.3rem solid $accentColor;
  height: 3rem;
}

nav span.brand a {
  color: #fff;
  text-decoration: none;
}

nav .container, nav ul, nav li, nav a {
  height: 100%;
}

nav .container, nav ul{
  flex-wrap: wrap;
}

nav ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul.left {
  flex-grow: 2;
}

nav ul.right {
  flex-shrink: 3;
  justify-content: flex-end;
}

nav ul li {
  display: block;
  //max-height: 1rem;
}

nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.25s;
  height: 100%;
}

nav ul li a:hover {
  background-color: darken($accentColor, 10%);
}

nav ul li.active > a {
  background-color: darken($accentColor, 10%);
}

.profile-dropdown {
  min-width: 10em;
}

nav ul li.with-dropdown {
  a {
    width: 100%;
  }
  .fa-caret-down {
    line-height: 1.5;
    position: absolute;
    right: 1rem;
    bottom: 0.6rem;
  }
  position: relative;
  .menu {
    position: absolute;
    z-index: 20;
    background-color: $primaryColor;
    left: -1px;
    right: 0;
    color: rgb(0, 0, 0);
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    ul {
      display: block;
      li {
        display: block;
        font-size: 1rem;
      }
      li a {
        color: #fff;
        width: 100%;
      }
    }
  }
}

nav ul li.notifications-dropdown {
  min-width: 10em;
  text-align: right;
  a {
    width: auto;
  }
  .menu {
    text-align: left;
    color: #fff;
    border-top: 1px solid #aaa;
  }
}

footer {
  background-color: $primaryColor;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 0;
}

nav, footer, main {
  display: flex;
  align-content: center;
  justify-content: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .copyright {
  flex-grow: 2;
}

footer ul.links {
  margin: 0;
}

footer ul.links li {
  display: inline-block;
}

footer ul.links li + li {
  margin-left: 0.5rem;
}

footer ul.links li a {
  color: #fff;
}

nav .container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

main, div.modal {
  font-family: "Lato", sans-serif;
}

main .container {
  padding: 1rem;
  background: #fff;
}

main .container-no-pad {
  padding: 0;
}

main h2 {
  font-size: 22px;
  margin: 0;
}

#footer-push {
  flex-grow: 5;
  position: relative;
}

#footer-push .bg {
  position: absolute;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

/* Buttons */
.button {
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  background-color: $accentColor;
  display: inline-block;
  transition: 0.25s background;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: $brx;

}

.button:hover {
  background-color: darken($accentColor, 10%);
}

.button.default {
  background-color: $primaryColor;
}
.button.default:hover {
  background-color: darken($primaryColor, 10%);
}


input[type=text], input[type=password] {
  border: 1px solid #ccc;
  transition: 0.25s border;
  padding: 0.2rem;
  border-radius: $brx;
  background-color: #fff;
  color: #333;

}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid $primaryColor;
}

.alert {
  border: 1px solid lighten(adjust_hue($accentColor, 150), 10%);
  border-radius: $brx;
  padding: 0.75rem 1rem;
}

label {
  font-size: 1rem;
  color: #444;
}

.brand {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
}

.overview {
  padding: 0 1rem;
  h1 {
    margin-bottom: 0;
  }
}

.hero {
  background: url("assets/sky.jpg");
  min-height: 200px;
  height: 30vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation: heroAnim 2s ease-in-out;
  background-position: 0 54%;
  h1 {
    text-shadow: 1px 1px 5px #000;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #fff;
    font-weight: 400;
  }
}

@keyframes heroAnim {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 54%;
  }
}

.steps-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div.step {
    width: 25%;
    h2 {
      text-align: center;
    }
  }
  .arrow-wrapper {
    flex-shrink: 2;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  img {
    height: 100px;
    padding: 0 1rem;
  }
}

.warwick-logo {
  width: 1.5rem;
}

span.counter {
  background-color: $accentColor;
  padding: 0 0.4rem;
  border-radius: 0.1rem;
  margin-left: 0.5rem;
}

span.counter.anim {
  animation: counterAnim 0.75s;
  animation-fill-mode: forwards;
}

.notifications-dropdown a.anim {
  animation: notificationsBorderAnim 0.75s;
}

@keyframes counterAnim {
  0% {
    background-color: $primaryColor;
  }

  100% {
    background-color: $accentColor;
  }
}

@keyframes notificationsBorderAnim {
  0% {
    background-color: $accentColor;
  }

  100% {
    background-color: $primaryColor;
  }
}

a:hover span.counter {
  background-color: $primaryColor !important;
}

.avatar {
  height: 2rem;
  margin-top: -0.2rem;
  vertical-align: middle;
  border-radius: 0.5rem;
}

header, nav, main, footer {
  flex-shrink: 0;
}

.modal {
  display: none;
}

body.modals-enabled {
  .modal {
    background: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 95%);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    padding-top: 20vh;
    align-items: flex-start;
    justify-content: center;
    align-content: center;

    z-index: 50;
  }

  .modal-inner {
    background-color: #fff;
    border: 1px solid $primaryColor;
    border-radius: 0.2rem;
    min-width: 400px;

    padding: 1rem;
    flex: 0;
    .topbar {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      h1 {
        margin: 0;
      }
      a.exit {
        color: $primaryColor;
      }
    }
    p {
      margin-top: 0;
    }
    display: inline-block;

  }
}




.vertical-form {
  text-align: center;
  label {
    text-align: left;
  }
  input {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  input[type=text], input[type=password] {
    font-size: 1.2rem;
    padding: 0.5rem 0.3rem;
  }
  input[type=submit] {
    margin-top: 1rem;
    font-size: 1.2rem;

    padding: 0.5rem 0;
  }
}

.vertical-form label {
  display: block;
}


.flash {
  width: 100%;
  padding: 0 0;
  line-height: 0.5;
  text-align: center;
  position: relative;
  color: #fff;
  font-weight: bold;

  a.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: #fff;
  }
}

.flash-warning {
  background-color: #cf8b00;
}

.flash-error {
  background-color: #cf2000;
}

body.modals-enabled .ajax-error-modal .modal-inner {
  min-width: 30%
}
